body{
    background: rgb(188, 228, 255);

    margin: 0;
}

.container {
    width: 100px;
    height: 100px;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 28px;
    overflow: hidden; 
    text-overflow: ellipsis;
}

/*
Position
*/
.position-section {
    border: 5px solid #000;  /* Borde de 5px de grosor, color negro */
    width: 250px;            /* Ancho del contenedor */
    height: 250px;           /* Alto del contenedor */
    box-sizing: border-box;   /* Incluir borde en el cálculo del ancho y alto */
    position: relative;       /* Permite que los elementos hijos con position: absolute se posicionen en relación a este contenedor */
}

.position-container {
    background: #09f;         /* Fondo azul (#09f = color hexadecimal corto) */
    width: 100px;             /* Ancho del contenedor hijo */
    height: 100px;            /* Alto del contenedor hijo */
    position: absolute;       /* Se posiciona de forma absoluta dentro del padre (.position-section) */
   /* top: 0;                    Alineado al borde superior del padre */
   /* left: 0;                   Alineado al borde izquierdo del padre */
   margin: auto;
   inset: 0;
}

