
.parent{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    width: 300px;
    border: 1px solid;

    
}
.item {
    border: 1px solid;
    opacity: .9;
    width: 50px;
    height: 200px;  
 

    flex: 1;
}

.item:first-child {
    background: yellow;
    flex: 3;
}

.item:nth-child(2) {
    background: blue;
    flex: 2;
}

.item:last-child{
    background: red;
}